<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam
            nobis deserunt eveniet praesentium vel, fuga dolor nostrum fugiat
            quia ea earum molestias itaque exercitationem! Asperiores dolorem
            voluptatem corporis hic, quasi, officiis deleniti doloremque vero,
            illo neque ratione totam aspernatur!</p>
    </div>
</div>